# Gameboy stuff
*.gb
*.sav
*.zip

# IDA stuff
*.id0
*.id1
*.i64
*.nam
*.til
*.sna

# outputs
*.exe
*.dll
*.obj
bin

# QTCreator
*.pro.user

# VSCode
.vscode

# Mac builds
.DS_Store
._*

# Windows stuff
Thumbs.db
desktop.ini

MB_REL
MB_DEBUG
build
Debug
Release
